@model IEnumerable<Corral.Models.SalaryDiscrepancy>

@{
    ViewData["Title"] = "Salary Discrepancies";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Store ID</th>
            <th>Staff UID</th>
            <th>Lastname</th>
            <th>Firstname</th>
            <th>Payroll ID</th>
            <th>Actual Worked</th>
            <th>Act Paid Hours</th>
            <th>Difference</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var discrepancy in Model)
        {
            <tr>
                <td>@discrepancy.Storeid</td>
                <td>@discrepancy.Staffuid</td>
                <td>@discrepancy.Lastname</td>
                <td>@discrepancy.Firstname</td>
                <td>@discrepancy.Payrollid</td>
                <td>@discrepancy.ActualWorked</td>
                <td>@discrepancy.ActPaidHours</td>
                <td>@discrepancy.Difference</td>
            </tr>
        }
    </tbody>
</table>
